@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss/tailwind.css";

/* @custom-variant dark (&:where(.dark, .dark *)) */

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

:root {
  --color-primary: #ff6f00;
}
/* Hide scrollbar but keep scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
@keyframes modalIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-modalIn {
  animation: modalIn 0.35s ease-out;
}

@media (min-width: 640px) {
  .animate-scaleIn {
    animation: scaleIn 0.25s ease-out;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
